@model DATT.DAL.SAN_PHAM

@{
    ViewBag.Title = "Xóa sản phẩm";
    ViewBag.section = "manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            Thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONG_HIEU)
        </dd>

        <dt>
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANH_MUC)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_SAN_PHAM)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANH)
        </dd>

        <dt>
            Giảm giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAM_GIA)
        </dd>

        <dt>
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_LUONG_TON)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn">Delete</button> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
