@model DATT.DAL.SAN_PHAM

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    ViewBag.section = "manager";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <dl class="dl-horizontal">
        <dt>
            Thương hiệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THUONG_HIEU)
        </dd>

        <dt>
            Danh mục
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANH_MUC)
        </dd>

        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEN_SAN_PHAM)
        </dd>

        <dt>
            Thông tin tổng quát
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THONG_TIN_TONG_QUAT)
        </dd>

        <dt>
            Giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANH)
        </dd>

        <dt>
            Giảm giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIAM_GIA)
        </dd>

        <dt>
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SO_LUONG_TON)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_SP }) |
    @Html.ActionLink("Back to List", "Index")
</p>
